---
- name: nginx repository installed (CentOS/RHEL 6)
  yum:
    name: http://nginx.org/packages/centos/6/noarch/RPMS/nginx-release-centos-6-0.el6.ngx.noarch.rpm
    disable_gpg_check: yes
  when:
    - ansible_os_family == 'RedHat'
    - ansible_distribution_major_version is version('6', '==')

- name: nginx repository installed (CentOS/RHEL 7)
  yum:
    name: http://nginx.org/packages/centos/7/noarch/RPMS/nginx-release-centos-7-0.el7.ngx.noarch.rpm
    disable_gpg_check: yes
  when:
    - ansible_os_family == 'RedHat'
    - ansible_distribution_major_version is version('7', '==')

- name: nginx repository installed (CentOS/RHEL 8)
  yum:
    name: http://nginx.org/packages/centos/8/x86_64/RPMS/nginx-1.18.0-1.el8.ngx.x86_64.rpm
    disable_gpg_check: yes
  when:
    - ansible_os_family == 'RedHat'
    - ansible_distribution_major_version is version('8', '==')

- name: nginx installed
  package:
    name: nginx
    state: latest

- name: stat custom nginx.conf.j2
  stat:
    path: /vagrant/config/nginx.conf.j2
  register: is_custom_nginx_conf

- name: custom nginx.conf changed
  template:
    src: /vagrant/config/nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    mode: 0644
  notify: nginx restarted
  when:
    - is_custom_nginx_conf.stat.exists
    - not multisite

- name: nginx.conf changed
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    mode: 0644
  notify: nginx restarted
  when:
    - not is_custom_nginx_conf.stat.exists
    - not multisite

- name: stat custom nginx.multisite.conf.j2
  stat:
    path: /vagrant/config/nginx.multisite.conf.j2
  register: is_custom_nginx_multisite_conf

- name: custom nginx.conf changed (multisite)
  template:
    src: /vagrant/config/nginx.multisite.conf.j2
    dest: /etc/nginx/nginx.conf
  notify: nginx restarted
  when:
    - is_custom_nginx_multisite_conf.stat.exists
    - multisite

- name: nginx.conf changed (multisite)
  template:
    src: nginx.multisite.conf.j2
    dest: /etc/nginx/nginx.conf
  notify: nginx restarted
  when:
    - not is_custom_nginx_multisite_conf.stat.exists
    - multisite

- name: stat custom nginx.wordpress.conf.j2
  stat:
    path: /vagrant/config/nginx.wordpress.conf.j2
  register: is_custom_nginx_wordpress_conf

- name: custom wordpress.conf changed
  template:
    src: /vagrant/config/nginx.wordpress.conf.j2
    dest: /etc/nginx/conf.d/wordpress.conf
  notify: nginx restarted
  when:
    - is_custom_nginx_wordpress_conf.stat.exists
    - not multisite

- name: wordpress.conf changed
  template:
    src: nginx.wordpress.conf.j2
    dest: /etc/nginx/conf.d/wordpress.conf
  notify: nginx restarted
  when:
    - not is_custom_nginx_wordpress_conf.stat.exists
    - not multisite

- name: stat custom nginx.wordpress.multisite.conf.j2
  stat:
    path: /vagrant/config/nginx.wordpress.multisite.conf.j2
  register: is_custom_nginx_wordpress_multisite_conf

- name: custom wordpress-multisite.conf changed
  template:
    src: /vagrant/config/nginx.wordpress.multisite.conf.j2
    dest: /etc/nginx/conf.d/wordpress-multisite.conf
    mode: 0644
  notify: nginx restarted
  when:
    - is_custom_nginx_wordpress_multisite_conf.stat.exists
    - multisite

- name: wordpress-multisite.conf changed
  template:
    src: nginx.wordpress.multisite.conf.j2
    dest: /etc/nginx/conf.d/wordpress-multisite.conf
    mode: 0644
  notify: nginx restarted
  when:
    - not is_custom_nginx_wordpress_multisite_conf.stat.exists
    - multisite

- name: nginx enabled
  service:
    name: nginx
    enabled: yes
  notify: nginx restarted
