---
- name: build-essential installed
  package:
    name: build-essential
    state: latest

- name: libraries installed
  package:
    name:
      - patch
      - pkg-config
      - curl
      - software-properties-common
      - debconf-utils
      - jq
      - tree
    state: latest

- name: python-pip installed
  package:
    name: python-pip
    state: latest
  when:
    - ansible_distribution == 'Ubuntu'
    - ansible_distribution_major_version is version('18', '<=')

- name: python3-pip installed
  package:
    name: python3-pip
    state: latest
  when:
    - ansible_distribution == 'Ubuntu'
    - ansible_distribution_major_version is version('20', '>=')

- name: python-pip installed
  package:
    name: python-pip
    state: latest
  when: ansible_distribution == 'Debian'
