---
- name: mkdir mkcert
  file:
    path: /etc/mkcert
    state: directory
    mode: 0755

- name: stat cert.pem
  stat:
    path: /vagrant/mkcert/cert.pem
  register: is_cert

- name: copy cert.pem
  copy:
    src: /vagrant/mkcert/cert.pem
    dest: /etc/mkcert/cert.pem
    owner: vagrant
    group: vagrant
    mode: 0644
  when:
    - ssl
    - is_cert.stat.exists

- name: stat privkey.pem
  stat:
    path: /vagrant/mkcert/privkey.pem
  register: is_privkey

- name: copy privkey.pem
  copy:
    src: /vagrant/mkcert/privkey.pem
    dest: /etc/mkcert/privkey.pem
    owner: vagrant
    group: vagrant
    mode: 0644
  when:
    - ssl
    - is_privkey.stat.exists
