---
- name: httpd installed
  package:
    name:
      - httpd24u
      - httpd24u-devel
    state: latest

- name: mod_ssl installed
  package:
    name: httpd24u-mod_ssl
    state: latest
  when: ssl == true

- name: mod_proxy_fcgi installed
  package:
    name: mod_proxy_fcgi

- name: stat custom httpd.conf.centos6.j2
  stat:
    path: /vagrant/config/httpd.conf.centos6.j2
  register: is_custom_httpd_conf_centos6

- name: custom httpd.conf changed
  template:
    src: /vagrant/config/httpd.conf.centos6.j2
    dest: /etc/httpd/conf/httpd.conf
  notify: httpd restarted
  when: is_custom_httpd_conf_centos6.stat.exists

- name: httpd.conf changed
  template:
    src: httpd.conf.centos6.j2
    dest: /etc/httpd/conf/httpd.conf
  notify: httpd restarted
  when: not is_custom_httpd_conf_centos6.stat.exists
