user: vagrant
hosts:
{% if ssl_wp_admin %}
  "localhost:443":
    listen:
      port: 443
      host: 0.0.0.0
      ssl:
        certificate-file: /etc/pki/tls/vaw/crt.pem
        key-file: /etc/pki/tls/vaw/privkey.pem
    paths:
      "/":
        file.dir: {{ DOCUMENT_ROOT }}
        redirect:
          url: /index.php/
          internal: YES
          status: 307

{% endif %}

  "localhost:80":
    listen:
      port: 80
      host: 0.0.0.0
    paths:
      "/":
        file.dir: {{ DOCUMENT_ROOT }}
        redirect:
          url: /index.php/
          internal: YES
          status: 307


file.custom-handler:
  extension: .php
{% if fastcgi == "php-fpm" %}
  fastcgi.connect:
    port: /var/run/php-fpm/php-fcgi.pid
    type: unix
{% elif fastcgi == "hhvm" %}
  fastcgi.connect:
    port: /var/run/hhvm/hhvm.sock
    type: unix
    # host: 127.0.0.1
    # port: 9000
    # type: tcp
{% else %}
  fastcgi.spawn:
    command: "PHP_FCGI_CHILDREN=10 exec /usr/bin/php-cgi"
    user: vagrant
{% endif %}
  fastcgi.timeout.keepalive: 10000

file.index: [ 'index.php', 'index.html' ]


access-log: /var/log/h2o/access.log
error-log: /var/log/h2o/error.log
pid-file: /var/run/h2o.pid
http1-upgrade-to-http2: ON
http2-reprioritize-blocking-assets: ON
