{% if server == "apache" and ansible_os_family == 'RedHat' and ansible_distribution_major_version|int == 6 %}
--with-apxs2=/usr/sbin/apxs
{% elif server == "apache" and ansible_os_family == 'RedHat' and ansible_distribution_major_version|int == 7 %}
--with-apxs2=/usr/bin/apxs
{% elif server == "apache" and ansible_os_family == 'Debian' %}
--with-apxs2=/usr/bin/apxs
{% endif %}
--enable-fpm
--without-pear
--with-gd
--with-imagick
--enable-sockets
--with-jpeg-dir=/usr
--with-png-dir=/usr
--enable-exif
--enable-zip
--without-libzip
--with-zip
--with-kerberos
--with-openssl
--with-openssl-dir=/usr
--enable-soap
--enable-xmlreader
--with-xsl
--enable-ftp
--enable-cgi
--enable-cli
--with-curl=/usr
--with-tidy
--with-xmlrpc
--enable-sysvsem
--enable-sysvshm
--enable-shmop
--with-mysqli=mysqlnd
--with-pdo-mysql=mysqlnd
--with-mysql-sock=/tmp/mysql.sock
{% endif %}
--with-pdo-sqlite
--enable-pcntl
--with-readline
--enable-mbstring
--enable-mbregex
--disable-debug
--enable-bcmath
--enable-opcache
