---
- block:
  - name: MariaDB 5.5 repository added
    yum_repository:
      name: mariadb
      description: MariaDB 5.5 centos repository
      baseurl: "http://yum.mariadb.org/5.5/centos{{ ansible_distribution_major_version }}-amd64"
      gpgkey: https://yum.mariadb.org/RPM-GPG-KEY-MariaDB
      gpgcheck: yes

  - name: MariaDB installed (CentOS/RHEL 6 or 7)
    package:
      name:
        - MariaDB-server
        - MariaDB-client
        - MariaDB-shared
        - MariaDB-devel
        - MariaDB-common
        - MySQL-python
      state: latest
    when: ansible_distribution_major_version is version('7', '<=')

  - block:
    - name: boost-program-options installed
      dnf:
        name: boost-program-options
        state: latest

    - name: MariaDB 5.5 installed (CentOS/RHEL 8)
      dnf:
        name:
          - MariaDB-server
          - MariaDB-client
          - MariaDB-shared
          - MariaDB-devel
          - MariaDB-common
        disablerepo: AppStream
        state: latest

    - name: python3-PyMySQL installed (CentOS/RHEL 8)
      dnf:
        name:
          - python2-PyMySQL
          - python3-PyMySQL
        state: latest
    when: ansible_distribution_major_version is version('8', '>=')

  when: ansible_distribution == 'CentOS'

- block:
  - name: MariaDB apt_key installed (Ubuntu/focal)
    apt_key:
      keyserver: keyserver.ubuntu.com
      id: "0xF1656F24C74CD1D8"
    when: ansible_distribution_major_version is version('20', '==')

  - name: MariaDB apt_key installed (Ubuntu/bionic)
    apt_key:
      keyserver: keyserver.ubuntu.com
      id: "0xF1656F24C74CD1D8"
    when: ansible_distribution_major_version is version('18', '==')

  - name: MariaDB apt_key installed (Ubuntu/trusty)
    apt_key:
      keyserver: keyserver.ubuntu.com
      id: "0xcbcb082a1bb943db"
    when: ansible_distribution_major_version is version('14', '==')

  - name: MariaDB 5.5 repository installed
    apt_repository:
      filename: MariaDB
      repo: 'deb [arch=amd64,i386,ppc64el] http://ftp.yz.yamagata-u.ac.jp/pub/dbms/mariadb/repo/5.5/ubuntu {{ ansible_distribution_release }} main'

  - name: MariaDB 5.5 installed (Ubuntu)
    package:
      name:
        - mariadb-server-5.5
        - mariadb-client-5.5
        - mariadb-common
        - libmariadbd-dev
        - libmariadbclient18
      state: latest
  when: ansible_distribution == 'Ubuntu'

- name: python-mysqldb installed
  package:
    name: python-mysqldb
    state: latest
  when:
    - ansible_distribution == 'Ubuntu'
    - ansible_distribution_major_version is version('18', '<=')

- name: python3-mysqldb installed
  package:
    name: python3-mysqldb
    state: latest
  when:
    - ansible_distribution == 'Ubuntu'
    - ansible_distribution_major_version is version('20', '>=')

- name: python-mysqldb installed
  package:
    name: python-mysqldb
    state: latest
  when: ansible_distribution == 'Debian'
