---
- name: develop tools installed
  package:
    name:
      - subversion
      - gettext
    state: latest

- name: node.js package globally installed
  npm:
    name: "{{ item }}"
    global: yes
    executable: "{{ nodenv_dir }}/shims/npm"
  with_items:
    - npm-check-updates
    - grunt-cli
    - grunt-init
    - gulp-cli
  become: yes
  become_user: vagrant

- include_tasks: wp-i18n.yml

- include_tasks: daemonize.yml
  when:
    - ansible_os_family == 'RedHat'
    - ansible_distribution_major_version is version('6', '==')

- include_tasks: mailhog.yml
- include_tasks: cachetool.yml
- include_tasks: wrk.yml
- include_tasks: mysqltuner.yml

- block:
  - include_tasks: opcache-viewer.yml
  - include_tasks: webgrind.yml
  tags: sync-dir
