---
- name: include task
  include: "mysql-{{ mysql_version | default(5.7) }}.yml"

- name: stat custom my.cnf.j2
  stat:
    path: /vagrant/config/mysql.my.cnf.j2
  register: is_custom_my_conf

- name: custom my.cnf changed
  template:
    src: /vagrant/config/mysql.my.cnf.j2
    dest: /etc/my.cnf
  when: is_custom_my_conf.stat.exists

- name: my.cnf changed
  template:
    src: mysql.my.cnf.j2
    dest: /etc/my.cnf
  when: not is_custom_my_conf.stat.exists

- name: mkdir /var/log/mysql
  file:
    path: /var/log/mysql
    state: directory
    owner: mysql
    group: mysql

- name: mysqld started and enabled (CentOS/RHEL)
  service:
    name: mysqld
    state: restarted
    enabled: yes
  when: ansible_os_family == 'RedHat'

- name: mysql started and enabled (Debian)
  service:
    name: mysql
    state: restarted
    enabled: yes
  when: ansible_os_family == 'Debian'

- block:
  - name: get temporary password from mysqld.log - mysql 5.7
    shell: cat /var/log/mysql/mysqld.log | grep "temporary password" | awk '{print $11}'
    register: mysql_temp_password

  - name: change password validation
    shell: |
      mysql -u root -p'{{ mysql_temp_password.stdout }}' --connect-expired-password -e "SET GLOBAL validate_password_length=4;"
      mysql -u root -p'{{ mysql_temp_password.stdout }}' --connect-expired-password -e "SET GLOBAL validate_password_policy=LOW;"

  - name: set mysql 5.7 root password from temporary password (CentOS/RHEL)
    shell: mysql -uroot -p'{{ mysql_temp_password.stdout }}' --connect-expired-password -e "SET PASSWORD=PASSWORD('{{ db_root_password }}');"
  when:
    - ansible_os_family == 'RedHat'
    - mysql_version == 5.7

- name: set mysql 8.0 root password (CentOS/RHEL)
  mysql_user:
    name: root
    password: "{{ db_root_password }}"
    host: "{{ item }}"
    state: present
    login_unix_socket: /var/lib/mysql/mysql.sock
  with_items:
    - localhost
  ignore_errors: yes
  when:
    - ansible_os_family == 'RedHat'
    - mysql_version == 8.0

- name: set mysql 5.7 root password (Debian)
  mysql_user:
    name: root
    password: "{{ db_root_password }}"
    host: "{{ item }}"
    state: present
  with_items:
    - localhost
    - 127.0.0.1
    - ::1
  ignore_errors: yes
  when:
    - ansible_os_family == 'Debian'
    - mysql_version <= 5.7

- block:
  - name: set mysql 8.0 root password (Debian)
    mysql_user:
      name: root
      password: "{{ db_root_password }}"
      host: "{{ item }}"
      state: present
      login_unix_socket: /var/run/mysqld/mysqld.sock
    with_items:
      - localhost
    ignore_errors: yes

  - name: set MariaDB root password (host)
    mysql_user:
      name: root
      password: "{{ db_root_password }}"
      host: "{{ item }}"
      state: present
      login_user: root
      login_password: "{{ db_root_password }}"
    with_items:
      - 127.0.0.1
      - ::1
    ignore_errors: yes
  when:
    - ansible_os_family == 'Debian'
    - mysql_version >= 8.0

- name: delete blank mysql users
  mysql_user:
    name: ""
    host_all: true
    state: absent
    login_user: root
    login_password: "{{ db_root_password }}"

- name: drop mysql test database
  mysql_db:
    name: test
    state: absent
    login_user: root
    login_password: "{{ db_root_password }}"

- name: create symbolic link
  file:
    src: /var/lib/mysql/mysql.sock
    dest: /tmp/mysql.sock
    state: link
