---
- block:
  - name: mysql repository installed (CentOS/RHEL 6)
    yum:
      name: https://dev.mysql.com/get/mysql57-community-release-el6-9.noarch.rpm
      disable_gpg_check: yes
    when: ansible_distribution_major_version is version('6', '==')

  - name: mysql repository installed (CentOS/RHEL 7)
    yum:
      name: https://dev.mysql.com/get/mysql57-community-release-el7-9.noarch.rpm
      disable_gpg_check: yes
    when: ansible_distribution_major_version is version('7', '==')

  - block:
    - name: mysql repository installed (CentOS/RHEL 8)
      yum:
        name: https://dev.mysql.com/get/mysql57-community-release-el7-9.noarch.rpm
        disable_gpg_check: yes

    - name: yum module disable
      command: yum -y module disable mysql mariadb
    when: ansible_distribution_major_version is version('8', '==')

  - name: yum-config enable mysql57-community
    command: yum-config-manager --enable mysql57-community

  - name: mysql 5.7 installed (CentOS/RHEL)
    package:
      name:
        - mysql-community-server
        - mysql-community-client
        - mysql-community-common
        - mysql-community-devel
        - mysql-community-libs
      state: latest

  - name: python-PyMySQL installed (CentOS/RHEL 6 or 7)
    package:
      name:
        - MySQL-python
      state: latest
    when: ansible_distribution_major_version is version('7', '<=')

  - name: python3-PyMySQL installed (CentOS/RHEL 8)
    package:
      name:
        - python3-PyMySQL
      state: latest
    when: ansible_distribution_major_version is version('8', '>=')
  when: ansible_os_family == 'RedHat'

- block:
  - name: set mysql-apt-config to mysql version 5.7
    debconf:
      name: mysql-apt-config
      question: "{{ item.question }}"
      value: "{{ item.value }}"
      vtype: "{{ item.vtype | default ('select') }}"
    with_items:
      - question: mysql-apt-config/select-server
        value: mysql-5.7
      - question: mysql-apt-config/select-tools
        value: Enabled

  - name: mysql-apt-config installed (Debian)
    apt:
      deb: https://dev.mysql.com/get/mysql-apt-config_0.8.10-1_all.deb

  - name: apt-key update
    command: apt-key adv --keyserver keys.gnupg.net --recv-keys 8C718D3B5072E1F5

  - name: apt-get update
    command: apt-get update

  - name: mysql 5.7 installed (Debian)
    package:
      name:
        - mysql-community-server
        - mysql-community-client
        - mysql-common
      state: latest
  when: ansible_os_family == 'Debian'

- name: python-mysqldb installed
  package:
    name: python-mysqldb
    state: latest
  when:
    - ansible_distribution == 'Ubuntu'
    - ansible_distribution_major_version is version('18', '<=')

- name: python3-mysqldb installed
  package:
    name: python3-mysqldb
    state: latest
  when:
    - ansible_distribution == 'Ubuntu'
    - ansible_distribution_major_version is version('20', '>=')

- name: python-mysqldb installed
  package:
    name: python-mysqldb
    state: latest
  when: ansible_distribution == 'Debian'
