---
- block:
  - name: percona repository installed (CentOS/RHEL)
    yum:
      name: https://repo.percona.com/yum/percona-release-latest.noarch.rpm
      disable_gpg_check: yes

  - name: percona-release
    command: percona-release setup -y ps80

  - name: percona-release
    command: percona-release setup -y ps57

  - name: percona 5.7 installed (CentOS/RHEL)
    package:
      name:
        - Percona-Server-server-57
        - Percona-Server-client-57
        - Percona-Server-shared-57
        - Percona-Server-devel-57
      state: latest

  - name: python-PyMySQL installed (CentOS/RHEL 7 or 6)
    package:
      name:
        - MySQL-python
      state: latest
    when: ansible_distribution_major_version is version('7', '<=')

  - name: python3-PyMySQL installed (CentOS/RHEL 8)
    package:
      name:
        - python3-PyMySQL
      state: latest
    when: ansible_distribution_major_version is version('8', '>=')

  when: ansible_os_family == 'RedHat'

- block:
  - name: percona-release repository installed (Debian)
    apt:
      deb: "https://repo.percona.com/apt/percona-release_latest.{{ ansible_distribution_release }}_all.deb"

  - name: apt-get update
    apt:
      update_cache: yes

  - name: percona 5.7 installed (Debian)
    package:
      name:
        - percona-server-server-5.7
        - percona-server-client-5.7
        - percona-server-common-5.7
        - libperconaserverclient20-dev
      state: latest
  when: ansible_os_family == 'Debian'

- name: python-mysqldb installed
  package:
    name: python-mysqldb
    state: latest
  when:
    - ansible_distribution == 'Ubuntu'
    - ansible_distribution_major_version is version('18', '<=')

- name: python3-mysqldb installed
  package:
    name: python3-mysqldb
    state: latest
  when:
    - ansible_distribution == 'Ubuntu'
    - ansible_distribution_major_version is version('20', '>=')

- name: python-mysqldb installed
  package:
    name: python-mysqldb
    state: latest
  when: ansible_distribution == 'Debian'
