---
- name: modify kernel parameters
  sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
    ignoreerrors: yes
  with_items:
    - name: net.core.somaxconn
      value: 2048
    - name: net.ipv4.tcp_max_syn_backlog
      value: 2048
    - name: net.core.netdev_max_backlog
      value: 8192
    - name: net.ipv4.tcp_tw_reuse
      value: 1
    - name: net.ipv4.tcp_fin_timeout
      value: 10
