---
- name: include task
  include_tasks: '{{ ansible_os_family }}.yml'

- include_tasks: dotfiles.yml
- include_tasks: swap.yml
- include_tasks: kernel.yml
- include_tasks: ssh-config.yml
- include_tasks: purge.yml
- include_tasks: reset.yml
