---
- block:
  - name: create swap space
    command: dd if=/dev/zero of=/swapfile bs=1M count=1024

  - name: make swap
    command: mkswap /swapfile

  - name: chmod 600
    file:
      path: /swapfile
      mode: 0600

  - name: swapon
    command: swapon /swapfile

  - name: mount swapfile
    mount:
      src: /swapfile
      name: swap
      fstype: swap
      opts: defaults
      passno: 0
      dump: 0
      state: present

  when:
    - ansible_swaptotal_mb < 1
    - ansible_distribution == 'Ubuntu'
