---
- block:
  - name: cmake3 installed
    package:
      name: cmake3
      state: latest

  - name: get libzip
    get_url:
      url: https://libzip.org/download/libzip-1.8.0.tar.gz
      dest: /tmp/libzip-1.8.0.tar.gz
      timeout: 60

  - name: libzip unarchived
    unarchive:
      src: /tmp/libzip-1.8.0.tar.gz
      dest: /tmp

  - name: config and make install
    command: "{{ item }}"
    args:
      chdir: /tmp/libzip-1.8.0
    with_items:
      - cmake3 -DCMAKE_INSTALL_PREFIX=/usr/local/libzip
      - make
      - make install

  - name: edit PKG_CONFIG_PATH on .bashrc_alias
    lineinfile:
      dest: "{{ home_dir }}/.bashrc_alias"
      line: export PKG_CONFIG_PATH="$PKG_CONFIG_PATH:/usr/local/libzip/lib64/pkgconfig"
      mode: 0644

  when:
    - ansible_distribution_major_version is version('7', '==')
    - php_versionã€€is version('7.4', '>=')

- name: libzip-devel installed
  package:
    name:
      - libzip-devel
    state: latest
  when:
    - php_version is version('7.4', '<')
