---
- name: git checkout phpenv
  git: repo=https://github.com/CHH/phpenv.git dest=/home/vagrant/phpenv force=yes
  become: yes

- name: stat phpenv_path
  stat: path={{ phpenv_dir }}
  register: is_phpenv_path

- name: phpenv installed
  command: sudo -u vagrant -i -- /home/vagrant/phpenv/bin/phpenv-install.sh
  when: not is_phpenv_path.stat.exists

- name: delete /home/vagrant/phpenv
  file: path=/home/vagrant/phpenv state=absent

- name: change mode, owner and group
  file: dest={{ phpenv_dir }} state=directory mode=0755 recurse=yes owner=vagrant group=vagrant
  become: yes

- name: edit PATH phpenv init on .bash_profile
  lineinfile: dest={{ bash_profile }} line="export PATH=$HOME/.phpenv/bin:$PATH"

- name: edit PATH phpenv init on .bashrc
  lineinfile: dest={{ bashrc }} line="export PATH=$HOME/.phpenv/bin:$PATH"

- name: edit phpenv init on .bash_profile
  lineinfile: dest={{ bash_profile }} line="eval \"$(phpenv init -)\""

- name: edit phpenv init on .bashrc
  lineinfile: dest={{ bashrc }} line="eval \"$(phpenv init -)\""

- name: git checkout php-build
  git: repo=https://github.com/CHH/php-build.git dest={{ phpenv_dir }}/plugins/php-build force=yes
  become: yes

- name: git checkout phpenv-apache-version
  git: repo=https://github.com/thingsym/phpenv-apache-version.git dest={{ phpenv_dir }}/plugins/phpenv-apache-version force=yes
  become: yes
  when: server == 'apache'

- name: stat custom php.conf.j2
  stat: path=/vagrant/config/php.conf.j2
  register: is_custom_php_conf

- name: custom php.conf changed
  template: src=/vagrant/config/php.conf.j2 dest=/etc/httpd/conf.d/php.conf
  when: is_custom_php_conf.stat.exists and server == 'apache'

- name: php.conf changed
  template: src=php.conf.j2 dest=/etc/httpd/conf.d/php.conf
  when: not is_custom_php_conf.stat.exists and server == 'apache'

- name: change mode, owner and group
  file: dest={{ phpenv_dir }} state=directory mode=0755 recurse=yes owner=vagrant group=vagrant
  become: yes

- include: build-env.yml

- name: stat custom php-build.default_configure_options.j2
  stat: path=/vagrant/config/php-build.default_configure_options.j2
  register: is_custom_default_configure_options

- name: custom default_configure_options changed
  template: src=/vagrant/config/php-build.default_configure_options.j2 dest={{ phpenv_dir }}/plugins/php-build/share/php-build/default_configure_options
  when: is_custom_default_configure_options.stat.exists

- name: set default_configure_options
  template: src=php-build.default_configure_options.j2 dest={{ phpenv_dir }}/plugins/php-build/share/php-build/default_configure_options
  when: not is_custom_default_configure_options.stat.exists

- name: stat libphp5.so
  stat: path=/usr/lib64/httpd/modules/libphp5.so
  register: is_libphp5_path

- name: change owner and group
  file: path=/usr/lib64/httpd/modules/libphp5.so owner=vagrant group=vagrant
  when: is_libphp5_path.stat.exists

- name: stat libphp7.so
  stat: path=/usr/lib64/httpd/modules/libphp7.so
  register: is_libphp7_path

- name: change owner and group
  file: path=/usr/lib64/httpd/modules/libphp7.so owner=vagrant group=vagrant
  when: is_libphp7_path.stat.exists

- name: touch php.log
  file: path=/var/log/php.log state=touch mode=0666

- name: stat php_path
  stat: path={{ phpenv_dir }}/versions/{{ php_version | default(5.6.12) }}
  register: is_php_path

- name: php installed by phpenv.sh
  command: sudo -u vagrant -i -- /vagrant/command/phpenv.sh {{ php_version | default(5.6.12) }}
  when: not is_php_path.stat.exists

- include: php-fpm.yml
  when: fastcgi == 'php-fpm'

- name: create symbolic link
  file: src={{ phpenv_dir }}/shims/php dest=/usr/bin/php state=link force=yes
