; hhvm Configuration Document
; http://docs.hhvm.com/hhvm/configuration/INI-settings

; php options

pid = /var/run/hhvm/hhvm.pid

; hhvm specific

hhvm.pid_file = /var/run/hhvm/hhvm.pid

; hhvm.server.port = 9000
hhvm.server.file_socket = /var/run/hhvm/hhvm.sock
hhvm.server.user = nobody
hhvm.server.group = nobody
hhvm.server.type = fastcgi
hhvm.server.fix_path_info = true
hhvm.server.source_root = /var/www/html
hhvm.server.default_document = index.php

hhvm.log.level = Error
hhvm.log.use_log_file = true
hhvm.log.file = /var/log/hhvm/error.log
hhvm.log.always_log_unhandled_exceptions = true
hhvm.log.runtime_error_reporting_level = 8191
hhvm.log.header = true

hhvm.repo.central.path = /var/run/hhvm/hhvm.hhbc
