---
- name: git checkout rbenv
  git:
    repo: https://github.com/rbenv/rbenv.git
    dest: "{{ rbenv_dir }}"
    version: "master"
    force: yes
  become: yes
  become_user: vagrant

- name: edit PATH rbenv on .bashrc_alias
  lineinfile:
    dest: "{{ home_dir }}/.bashrc_alias"
    line: "export PATH=$HOME/.rbenv/bin:$PATH"
    mode: 0644

- name: edit rbenv init on .bashrc_alias
  lineinfile:
    dest: "{{ home_dir }}/.bashrc_alias"
    line: "eval \"$(rbenv init -)\""
    mode: 0644

- name: git checkout ruby-build
  git:
    repo: https://github.com/rbenv/ruby-build.git
    dest: "{{ rbenv_dir }}/plugins/ruby-build"
    version: "master"
    force: yes
  become: yes
  become_user: vagrant

- name: git checkout rbenv-update
  git:
    repo: https://github.com/rkh/rbenv-update.git
    dest: "{{ rbenv_dir }}/plugins/rbenv-update"
    version: "master"
    force: yes
  become: yes
  become_user: vagrant

- name: git checkout rbenv-default-gems
  git:
    repo: https://github.com/rbenv/rbenv-default-gems.git
    dest: "{{ rbenv_dir }}/plugins/rbenv-default-gems"
    version: "master"
    force: yes
  become: yes
  become_user: vagrant

- name: stat rbenv_default_gems
  stat:
    path: /vagrant/config/default-ruby-gems.j2
  register: is_rbenv_default_gems

- name: default-gems changed
  template:
    src: /vagrant/config/default-ruby-gems.j2
    dest: "{{ rbenv_dir }}/default-gems"
    mode: 0644
  when: is_rbenv_default_gems.stat.exists

- include_tasks: build-env.yml

- name: ruby installed via rbenv
  command: "{{ rbenv_dir }}/bin/rbenv install {{ ruby_version | default(2.7.2) }}"
  ignore_errors: yes
  become: yes
  become_user: vagrant

- name: rbenv global
  command: "{{ rbenv_dir }}/bin/rbenv global {{ ruby_version | default(2.7.2) }}"
  become: yes
  become_user: vagrant

- name: rbenv rehash
  command: "{{ rbenv_dir }}/bin/rbenv rehash"
  become: yes
  become_user: vagrant
